.container{
    margin: 0 auto;
    max-width: 1180px !important;   
    /* background-color: red; */
}

.Pioneer__header{
    /* height: 113px; */
    margin-top: 32px;
}
.email{
    font-family: Source Sans 3;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.48px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.number{
    font-family: Source Sans 3;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.48px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.number_email{
    /* margin-right: 100px; */
}

.for__questions__suggestions{
    gap: 40px;
}
hr {
    border: 2px solid #888888; 
  }

/* .for__img{
    justify-content: space-between;
} */

.telefon{
    font-family: Source Sans 3;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.Russian__Power{
    /* width: 1180px; */
    /* height: 616px; */
    padding-top: 80px;
}

.Russian__Power__header{
    width: 580px;
    font-family: Source Sans 3;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.Russian__Power__text{
    font-family: Source Sans 3;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 379px;
    margin-top: 21px;
    margin-left: 20px;
}

.russian__power__img{
    margin-top: 32px;
}

.company__header{
    font-family: Source Sans 3;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #333333;
}
/* ///// */
.About__company{
    margin-top: 80px;
}

.company__text{
    margin-top: 32px;
}

.company__text3{
    margin-top: 22px;
    width: 560px;
    height: 66px;  
}

.Products__header{  
    font-family: Source Sans 3;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
}

.Products__section{
    margin-top: 80px;
}



.instrument-panel{
    width: 390px;
    height: 435px;
    padding-left: 24px;
    padding-top: 32px;
    background-color: #F5F5F5;
}



/* //// */
.indicator__text{
    font-family: Source Sans 3;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 102px;
}
.sensors__text{
    font-family: Source Sans 3;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 177px;
    
}
.controllers__text{
    font-family: Source Sans 3;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 132px;
}


.calibrator__text{
    font-family: Source Sans 3;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 152px;
    
}
.corrector__text{
    font-family: Source Sans 3;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 160px;
}
.Manometers__text{
    font-family: Source Sans 3;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 163px;
}

.Read__more{
    margin-top: 12px;
    color: #607CE6;

}
.Representative__offices{
    margin-top: 80px;
}

.Representative__offices__header{
    font-family: Source Sans 3;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.map{
    margin-top: 32px;
}
.News__section{
    margin-top: 80px;

}
.news_pioner{
    margin-top: 32px;
}

.News{
    font-family: Source Sans 3;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.pioner{
    width: 380px;
    height: 478px;
    background-color: #F5F5F5;    
}

.pioner{

}

.pioner__news__text{
    margin-left: 16px;
    margin-top: 16px;
    width: 320px;
}


.read__history{
   /* width: 300px; */
   margin-left: 16px;
   margin-top: 81px;
   margin-right: 16px
}

.pioner__footer{
    background-color: #333333;
    margin-top: 80px;
    height: 361px;
}
/* /// */
.pioner__footer__img{

}

.footer{
    padding-top: 56px;
}

.footer__link{
    line-height: 40px;
}
.pioner__end{
    color: white;
    text-align: center;
    padding-top: 60px;
}


@media  (max-width: 768px) {



    .nav{
        display: block;
    }

    .Russian__Power__header{
        font-size: 40px;
    }

    .russian__power__img{
        width: 767px;
    }
    .company__text{
        flex-direction: column;
    }
    .company__text1{
        margin-bottom: 20px;
    }
    .romain__arandal__img{
        flex-direction: column;
    }
    .instrument{
        flex-direction: column;
    }
    .Representative__offices__header{
        font-size: 39px;
    }
    .map__img{
        width: 750px;
    }
    .pioner__news{
        flex-direction: column;
    }
    .footer__header__link{
        flex-direction: column  ;
    }
    .footer{
       justify-items: center;
    }
    .footer__img{
        text-align: center;
    }
  
    .pioner__footer{
    height: 461px;
    
    }
    
}

@media  (max-width: 430px){
    .russian__power__img{
        width: 430px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ;
    }
    .questions__and__suggestions, .email{
    margin-left: 5px;
    font-size: 13px;
    }
    .number{
        font-size: 13px;
        width: 120px;
    }
    .nav{
        flex-direction: column;
    }
    .Russian__Power__header{
    font-size: 40px;
    }
    .Russian__Power__text{
        line-height: 30px;
    }
    .company__text1{
        width: 430px;
    }
    .company__text2{
        width: 430px;
        
    }
    .company__text3{
        width: 430px;
        margin-bottom: 60px;
    }
    .aurelien-romain-img{
        width: 430px;
    }
    .carlos-arandal-img{
        width: 430px;

    }
  .alarm__sensors__controllers{
    flex-direction: column;
  }

  .Pressure__corrector__Manometers{
    flex-direction: column;
  }
  .Representative__offices__header{
    font-size: 30px;
  }
  .map__img{
    width: 430px;
  }
  .News{
    font-size: 30px;
  }
    .pioner__footer{
    height: 501px;
    
    }
    .pioner__footer{
        width: 460px;
    }
    .footer{
        margin-left: 10px;
    }
    
}